{% extends 'base.html' %}

{% block body %}
  
{% include "post_ad_div.html" %}
	<!-- Categories -->
	<!--Vertical Tab-->
	<div class="categories-section main-grid-border">
		<div class="container">
			<h2 class="head">Main Categories</h2>
			<div class="category-list">
				<div id="parentVerticalTab">
					<ul class="resp-tabs-list hor_1">
						{% for category in all_category %}
						<li>{{category}}</li>
						{% endfor %}
						


						<a href="all-classifieds.html">All Ads</a>
					</ul>
					
					{% for category in all_category %}
						<div class="resp-tabs-container hor_1">
							<span class="active total" style="display:block;" data-toggle="modal"
								data-target="#myModal"><strong>All USA</strong> (Select your city to see local ads)</span>
							<div>
								<div class="category">
									<div class="category-img">
										<img src="images/cat1.png" title="image" alt="" />
									</div>
									<div class="category-info">
										<h4>{{category}}</h4>
										<span>5,12,850 Ads</span>
										<a href="all-classifieds.html">View all Ads</a>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="sub-categories">
									<ul>
										
										{% for sub_category in category.maincategory.all %}
											<li><a href="mobiles.html">{{sub_category}}</a></li>
										{% endfor %}

										<div class="clearfix"></div>
									</ul>
								</div>
							</div>

						</div>
					{% endfor %}
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--Plug-in Initialisation-->
	<script type="text/javascript">
		$(document).ready(function () {

			//Vertical Tab
			$('#parentVerticalTab').easyResponsiveTabs({
				type: 'vertical', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				tabidentify: 'hor_1', // The tab groups identifier
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#nested-tabInfo2');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
		});
	</script>
	<!-- //Categories -->
	<!--footer section start-->
	{% endblock body %}