{% extends 'base.html' %}


{% block body %}


<div class="banner text-center">
	<div class="container">
		<h1>Sell or Advertise <span class="segment-heading"> anything online </span> with Resale</h1>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
		<a href="post-ad.html">Post Free Ad</a>
	</div>
</div>
<!-- Products -->
<div class="total-ads main-grid-border">
	<div class="container">
		<div class="select-box">
			<div class="browse-category ads-list">
				<label>Browse Categories</label>
				<select class="selectpicker show-tick" data-live-search="true">
					<option data-tokens="Mobiles">All</option>
					<option data-tokens="Mobiles">Mobiles</option>
					<option data-tokens="Electronics & Appliances">Electronics & Appliances</option>
					<option data-tokens="Cars">Cars</option>
					<option data-tokens="Bikes">Bikes</option>
					<option data-tokens="Furniture">Furniture</option>
					<option data-tokens="Pets">Pets</option>
					<option data-tokens="Books, Sports & Hobbies">Books, Sports & Hobbies</option>
					<option data-tokens="Fashion">Fashion</option>
					<option data-tokens="Kids">Kids</option>
					<option data-tokens="Services">Services</option>
					<option data-tokens="Jobs">Jobs</option>
					<option data-tokens="Real Estate">Real Estate</option>
				</select>
			</div>
			<div class="search-product ads-list">
				<label>Search for a specific product</label>
				<div class="search">
					<div id="custom-search-input">
						<div class="input-group">
							<input type="text" class="form-control input-lg" placeholder="Buscar" />
							<span class="input-group-btn">
								<button class="btn btn-info btn-lg" type="button">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="all-categories">
			<h3> Select your category and find the perfect ad</h3>
			<ul class="all-cat-list">
				{% include 'main_category_nav.html' %}
			</ul>
		</div>
		<ol class="breadcrumb" style="margin-bottom: 5px;">
			<li><a href="index.html">Home</a></li>
			<li class="active">All Ads</li>
		</ol>
		<div class="ads-grid">
			<div class="side-bar col-md-3">
				<div class="search-hotel">
					<h3 class="sear-head">Name contains</h3>
					<form>
						<input type="text" value="Product name..." onfocus="this.value = '';"
							onblur="if (this.value == '') {this.value = 'Product name...';}" required="">
						<input type="submit" value=" ">
					</form>
				</div>

				<div class="range">
					<h3 class="sear-head">Price range</h3>
					<ul class="dropdown-menu6">
						<li>

							<div id="slider-range"></div>
							<input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
						</li>
					</ul>
					<!---->
					<script type="text/javascript" src="js/jquery-ui.js"></script>
					<script type='text/javascript'>
						//<![CDATA[ 
						$(window).load(function () {
							$("#slider-range").slider({
								range: true,
								min: 0,
								max: 9000,
								values: [50, 6000],
								slide: function (event, ui) {
									$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
								}
							});
							$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider(
								"values", 1));

						}); //]]>  
					</script>

				</div>
				<div class="featured-ads">
					<h2 class="sear-head fer">Featured Ads</h2>
					<div class="featured-ad">
						<a href="single.html">
							<div class="featured-ad-left">
								<img src="images/f1.jpg" title="ad image" alt="" />
							</div>
							<div class="featured-ad-right">
								<h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
								<p>$ 450</p>
							</div>
							<div class="clearfix"></div>
						</a>
					</div>
					<div class="featured-ad">
						<a href="single.html">
							<div class="featured-ad-left">
								<img src="images/f2.jpg" title="ad image" alt="" />
							</div>
							<div class="featured-ad-right">
								<h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
								<p>$ 380</p>
							</div>
							<div class="clearfix"></div>
						</a>
					</div>
					<div class="featured-ad">
						<a href="single.html">
							<div class="featured-ad-left">
								<img src="images/f3.jpg" title="ad image" alt="" />
							</div>
							<div class="featured-ad-right">
								<h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
								<p>$ 560</p>
							</div>
							<div class="clearfix"></div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="ads-display col-md-9">
				<div class="wrapper">
					<div class="bs-example bs-example-tabs" >
						<ul  class="nav nav-tabs nav-tabs-responsive" >
							<li >
								<a href=""  aria-controls="home"
									aria-expanded="true">
									<span class="text">All Ads</span>
								</a>
							</li>
						</ul>
						<div  class="">

							<div >
								<div>
									<div id="container">
										<div class="clearfix"></div>
										<ul class="list">
											{% for ad in category_ads %}
											<a href="single.html">
												<li>
													<img src="{{ad.image.url}}" title="" alt="" />
													<section class="list-left">
														<h5 class="title"> {{ad.name}}</h5>
														<span class="adprice">${{ad.price}}</span>
														<p class="catpath">Mobile Phones » {{ad.category}}</p>
													</section>
													<section class="list-right">
														<span class="date">Today, {{ad.created_at|time:'G:i'}}</span>
														<span class="cityname">City name</span>
													</section>
													<div class="clearfix"></div>
												</li>
											</a>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>

							<ul class="pagination pagination-sm">
								<li><a href="#">Prev</a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li><a href="#">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- // Products -->

{% endblock body %}