{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
  

	<div class="banner text-center">
	  <div class="container">    
			<h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with Resale</h1>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
			<a href="post-ad.html">Post Free Ad</a>
	  </div>
	</div>
	<!--single-page-->
	<div class="single-page main-grid-border">
		<div class="container">
			<ol class="breadcrumb" style="margin-bottom: 5px;">
				<li><a href="index.html">Home</a></li>
				<li><a href="all-classifieds.html">All Ads</a></li>
				<li class="active"><a href="mobiles.html">Mobiles</a></li>
				<li class="active">Mobile Phone</li>
			</ol>
			<div class="product-desc">
				<div class="col-md-7 product-view">
					<h2>{{ad.name}}</h2>
					<p> <i class="glyphicon glyphicon-map-marker"></i><a href="#">state</a>, <a href="#">city</a>| Added at {{ad.created_at|time:'g:i a'}} Ad ID: {{ad.code}}</p>
					<div class="flexslider">
						<ul class="slides">
							<li data-thumb="images/ss1.jpg">
								<img src="images/ss1.jpg" />
							</li>
							<li data-thumb="images/ss2.jpg">
								<img src="images/ss2.jpg" />
							</li>
							<li data-thumb="images/ss3.jpg">
								<img src="images/ss3.jpg" />
							</li>
						</ul>
					</div>
					<!-- FlexSlider -->
					  <script defer src="js/jquery.flexslider.js"></script>
					<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

						<script>
					// Can also be used with $(document).ready()
					$(window).load(function() {
					  $('.flexslider').flexslider({
						animation: "slide",
						controlNav: "thumbnails"
					  });
					});
					</script>
					<!-- //FlexSlider -->
					<div class="product-details">
						<h4>Brand : <a href="#">{{ad.brand}}</a></h4>
						<h4>Views : <strong>150</strong></h4>
						<p><strong>Summary</strong> 
							{{ad.content}}
						</p>
						

						{% if user in ad.liked_users.all %}
							<a href="{% url 'ads:like_ad' ad.id %}"> Dislike </a>
						{% else %}
							<a href="{% url 'ads:like_ad' ad.id %}"> Like </a>
						{% endif %}
							
						
					</div>

				</div>
				<div class="col-md-5 product-details-grid">
					<div class="item-price">
						<div class="product-price">
							<p class="p-price">Price</p>
							<h3 class="rate">$ {{ad.price}}</h3>
							
							<div class="clearfix"></div>
						</div>
						<div class="condition">
							<p class="p-price">Condition</p>
							<h4>{{ad.condition}}</h4>
							<div class="clearfix"></div>
						</div>
						<div class="itemtype">
							<p class="p-price">Item Type</p>
							<h4>{{ad.category}}</h4>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="interested text-center">
						<div id="paypal-button-container"></div>
					</div>
				</div>
			<div class="clearfix"></div>
			</div>
			<div class="row">
				<h2> Comments </h2>
				<div>
					
					{% if user.is_authenticated %}
						<h3> add new comment </h3>
						<form  method="post" class="form">
							{% csrf_token %}
							{% bootstrap_form form %}
							{% buttons %}
								<button type="submit" class="btn btn-success">Add Comment</button>
							{% endbuttons %}
						</form>
					{% else %}
					<a href="#">Login To Add comment </a>
					{% endif %}
						

				</div>
				{% for comment in comments %}
					<div class="col-md-8">
						<h2> {{comment.author}}</h2>
						<p> {{comment.comment}}</p>
						<p>{{comment.created_at}}</p>
						<hr>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!--//single-page-->


	<script src="https://www.paypal.com/sdk/js?client-id=AefqEnZls0oI3BIUij4QskV2UmAoWmjoH6LwKhIv5aLGudl4lWXD-T6KWLMPAcHxdpOQ_1khkf7Pc2X_&currency=USD"></script>

	<script>
		// Render the PayPal button into #paypal-button-container

		function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
			  const cookies = document.cookie.split(';');
			  for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
				  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				  break;
				}
			  }
			}
			return cookieValue;
		  }
		  const csrftoken = getCookie('csrftoken');

		function completeorder(){
			var url = "{% url 'ads:add_order' %}"

			fetch(url,{
				method: 'POST',
				headers: {
					'Content-type':'apllication/json',
					'X-CSRFToken':csrftoken ,
				},
				body:JSON.stringify({
					'id' : {{ad.id}} ,
				})
			})
		}

		paypal.Buttons({
	
			// Set up the transaction
			createOrder: function(data, actions) {
				return actions.order.create({
					purchase_units: [{
						amount: {
							value: '{{ad.price}}'
						}
					}]
				});
			},


	
			// Finalize the transaction
			onApprove: function(data, actions) {
				return actions.order.capture().then(function(details) {
					// Show a success message to the buyer
					completeorder()
					alert('Transaction completed by ' + details.payer.name.given_name + '!');
				});
			}
	
	
		}).render('#paypal-button-container');
	</script>
	

	{% endblock body %}