{% extends "base.html" %}

{% load bootstrap4 %}
{% block body %}

<!-- Submit Ad -->
<div class="submit-ad main-grid-border">
    <div class="container">
        <h2 class="head">Change Your Password</h2>
        <div class="post-ad-form">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary ">Change password</button>
                {% endbuttons %}
                <div class="clearfix"></div>
            </form>
    </div>
</div>
</div>
<!-- // Submit Ad -->
{% endblock body %}

